{% extends "bootstrap/base.html" %}

{% block title %}Skin KB{% endblock title %}

{# Import fixes for legacy browsers. #}
{% import "bootstrap/fixes.html" as fixes %}

{# Apply the fixes inside the head block #}
{% block head %}
    {{ super() }}
    {{ fixes.ie8() }} {# sighs... internet explorer #}
{% endblock head %}


{% block styles -%}
    {{ super() }} {# Load the bootstrap CSS resources. #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
{% endblock styles %}

{#  Next, add the JS resources. #}
{% block scripts -%}
    {{ super() }} {# Load the bootstrap JS resources. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
{% endblock scripts %}

{# Navigation sidebar #}
{% block navbar %} {# Actually a sidebar, but Flask-bootstrap doesn't have a sidebar tag #}
    {{ nav.side.render() }}
{% endblock navbar %}

{% block content %}
	{% block form %}{% endblock form %}
  {% block errors %}
    {% if errors %}
      <ul class="errors">
        {% for error in errors %}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"
                  aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
          </div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock errors %}
  {% block visualization %}{% endblock visualization %}
  {% block download %}{% endblock download %}
{% endblock content %}
