{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Skin KB{% endblock title %}

{% block styles %}
    {{ super() }}
   <style>
        #loading {
            background-color: #fff;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 999;
            text-align:center;
        }
   </style>
{% endblock styles %}

{% block navbar %}
    {{ super() }}
    <div id="loading">
        <img src="http://www.barchart.com/shared/images/progress_bar.gif" alt="Loading..." /><br/>
        Loading interface...
    </div>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
<div class="container-fluid">
<div class="row pull-left">
    <div class="pull-left" id="form">
        {{ wtf.quick_form(form,
                          button_map={'submit': 'primary'}) }}
        <hr class="separator">
        <form><fieldset class="form-group">
            <label for="genesearch">Search by Entrez ID and Symbol</label>
            <input type="text" id="genesearch" name="genesearch" class="form-control">
        </fieldset></form>
	<hr class="separator">
	<h4>Min/Max Column Filter</h4>
        <form><fieldset class="form-group">
            <label for="column">Column</label>
            <select id="column" name="column" class="form-control">
                {% with %}
                    {% if indication == "PSO" %}
                        {% set cols = ['None',
				                       'CoExp',
                                       'eQTLs: Fat p',
                                       'eQTLs: LCL p',
                                       'eQTLs: Skin p',
                                       'GWAS',
                                       'Meta: LSvsCTRL',
                                       'Meta: LSvsNL',
                                       'Meta: NLvsCTRL',
                                       'Pubmed',
                                       'Fisher Score'] %}
                    {% else %}
                         {% set cols = ['None',
                    					'eQTLs: Fat p',
                                        'eQTLs: LCL p',
                                        'eQTLs: Skin p',
                                        'GWAS',
                                        'Meta: LSvsCTRL',
                                        'Meta: LSvsNL',
                                        'Meta: NLvsCTRL',
                                        'Pubmed',
                                        'Fisher Score'] %}
                    {% endif %}
                    {% for col in cols %}
                        <option value={{ loop.index }}>{{ col }}</option>
                    {% endfor %}
                {% endwith %}
            </select>

            <label for="min">Minimum value</label>
            <input type="text" id="min" name="min" class="form-control">

            <label for="max">Maximum value</label>
            <input type="text" id="max" name="max" class="form-control">
        </fieldset></form>
    </div>
</div>
</div>
{% block visualization %}
<div id="tables" class="container-fluid">
<div id="test">

</div>
<div id="table" class="pull-left">
<table id="gene-data" class="table table-condensed table-hover table-striped">
    <thead>
        {# Upper column headers #}
        <tr>
            <th data-column-id="entrez" data-identifier="true" data-type="numeric" rowspan="2" halign="middle">Entrez ID</th>
            <th data-column-id="genesymbol" rowspan="2" style="width: 100px;" halign="middle">Gene Symbol</th>
            {% if indication == "PSO" %}
                <th data-column-id="coexp" rowspan="2" halign="middle">CoExp (k_me)</th>
            {% endif %}
            <th data-column-id="eQTLs" colspan="3">eQTLs (pv)</th>
            <th data-column-id="gwas" class="gwas" rowspan="2" halign="middle">GWAS (pv)</th>
            <th data-column-id="meta" colspan="3">Meta (pv)</th>
            <th data-column-id="pubmed" class="pubmed" rowspan="2" halign="middle">Pubmed (pv)</th>
            <th data-column-id="fisher" class="fisher_score" rowspan="2" halign="middle">Fisher (pv)</th>
        </tr>
        {# Lower column headers #}
        <tr>
            <th data-column-id="fatp">Fat P</th>
            <th data-column-id="lclp">LCL P</th>
            <th data-column-id="skinp">Skin P</th>

            <th data-column-id="lsvsctrl">LSvsCTRL</th>
            <th data-column-id="lsvsnl">LSvsNL</th>
            <th data-column-id="nlvsctrl">NLvsCTRL</th>
        </tr>
    </thead>
    <tbody>
	{% if indication == "PSO" %}
                {% set sources = ["omni_coexp",
                                  "omni_eqtls",
                                  "omni_gwasdb_skin",
                                  "omni_meta_analysis",
                                  "omni_pubmed_nlp"] %}
        {% else %}
                {% set sources = ["omni_eqtls",
                                  "omni_gwasdb_skin",
                                  "omni_meta_analysis",
                                  "omni_pubmed_nlp"] %}
        {% endif %}

        {% for key, value in data.items() %}
        {# Table Data

        The following td attributes are used:
            data-toggle: set this to "popover" to let jQuery know to tag
                         it with a hyperlink to get a detail table.

            data-source: this tells jQuery (and ultimately flask) where
                         (and how) to get detail data from.

            data-entrezid: this tells jQuery (and ultimately flask) what
                           row the entry is in.

            data-search: the value passed to the search function, which
                         we specify so DataTables doesn't have to sort
                         on anchor tags. Usually the same as data-order

            data-order: the value passed to the sort function, which we
                        use for the exact same reason as data-search.
                        Usually the same as data-search
        #}
        <tr>
            {# Entrez ID #}
            <td data-toggle="popover"
                data-source="drug_targets"
                data-entrezid="{{ key }}">
                <a target="_blank"
                   href="{{ key|entrezID }}">{{ key }}</a>
            </td>

            {# Genesymbol #}
            {% with symbol = value["genesymbol"] %}
            <td><a target="_blank"
                   href='{{ symbol|genecards }}'>{{ symbol }}</a></td>
            {% endwith %}

            {# Loops are to iterate over all sources and groups and add them
            to the row. #}
	    {% for source in sources %}

                {# These sources have None for their group
                (they don't have groups). #}
                {% if source in ["omni_coexp", "omni_gwasdb_skin", "omni_pubmed_nlp"] %}
                    {% set grps = [None] %}
                {# These sources to have groups #}
                {% else %}
                    {% if source == "omni_eqtls" %}
                        {% set grps = ["fat_p", "lcl_p", "skin_p"] %}
                    {% elif source == "omni_meta_analysis" %}
                        {% set grps = ["LSvsCTRL", "LSvsNL", "NLvsCTRL"] %}
                    {% endif %}
                {% endif %}
                {# The actual td tag for the cell #}
		{% for grp in grps %}
		{% with %}
            {% set val = value[source][grp]["p_value"] %}
            {% set table_id = value[source][grp]["table_id"] %}
                <td data-toggle="popover"
                    data-source="{{ source }}"
                    data-table-id="{{ table_id }}"
                    data-entrezid="{{ key }}"
                    data-search="{{ val }}"
                    data-order="{{ val }}"><a href="#">{{ val }}</a></td>
        {% endwith %}
		{% endfor %}
            {% endfor %}

            {# Fisher score #}
            <td data-source=""
                data-entrezid="{{ key }}">{{ value["fisher_p"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
{% endblock visualization %}
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script>
    	// Clear the loading image
    	jQuery(window).load(function () {
                jQuery('#loading').hide();
    	});

        // Regex's to match the various IDs in the table. They
        // ensure that the whole string is a specific prefix followed
        // by at least one number.
        var DB_RE = new RegExp('^DB\\d+$');
        var CHEMBL_RE = new RegExp('CHEMBL\\d+$');
        var CHEBI_RE = new RegExp('CHEBI:\\d+$');
        var MESH_RE = new RegExp('^(C|D)\\d+$');
        var PubMed_RE = new RegExp('^\\d+$');
        var dbGAP_RE = new RegExp('^pha\\d+$');

        // Functions to build linkout URLs.
        var DBLinkout = function(ID) {
            return 'http://www.drugbank.ca/drugs/' + ID;
        };

        var CHEMBLLinkout = function(ID) {
            return 'https://www.ebi.ac.uk/chembl/compound/inspect/' + ID;
        };

        var CHEBILinkout = function(ID) {
            return 'https://www.ebi.ac.uk/chebi/searchId.do;?chebiId=CHEBI%3A' + ID.substring(6);
        };

        var MESHLinkout = function(ID) {
            return 'https://id.nlm.nih.gov/mesh/' + ID + '.html';
        };

        var pubMedLinkout = function(ID) {
            return 'http://www.ncbi.nlm.nih.gov/pubmed/' + ID;
        };

        var dbGAPLinkout = function(ID) {
            return 'http://www.ncbi.nlm.nih.gov/gap/?term=' + ID;
        };

        var SNPLinkout = function(ID) {
            var prefix = ID.substring(0,2);
            var snp = ID.substring(2);
            return 'http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?' + prefix + '=' + snp;
        };

        // The ID regex's and linkout functions for the chemical linkout
        // (clicking on entrezid) because there are many different kinds
        // of IDs in there.
        var targetLinkoutList = [
    	    {re: DB_RE, linkout: DBLinkout},
    	    {re: CHEMBL_RE, linkout: CHEMBLLinkout},
            {re: CHEBI_RE, linkout: CHEBILinkout},
    	    {re: MESH_RE, linkout: MESHLinkout}
    	];

        var pubmedDbGapLinkoutList = [
            {re: PubMed_RE, linkout: pubMedLinkout},
            {re: dbGAP_RE, linkout: dbGAPLinkout}
        ];

        // picks the correct target linkout function to use based on the
        // regex list passed in.
        var multiIDLinkout = function(linkoutList) {
            return function(ID) {
                for (var i in linkoutList) {
                    var obj = linkoutList[i];
            		var re = obj.re;
            		var linkoutFunction = obj.linkout;
                    if (re.test(ID)) {
                        return linkoutFunction(ID);
                    }
                }
            }
        };

        // Function to add links to an entire column of the detail table.
        function columnLinkout(column, linkoutFunction) {
            var selector = $('.dataframe tbody td:nth-child(' + column + ')');
            selector.each(function() {
                var ID = $(this).text();
    		    if (ID !== undefined && ID != "None" && ID != "" && ID != "null") {
        			var link = linkoutFunction(ID);
                    var anchor = "<a target='_blank' href='" + link + "'></a>";
                    $(this).wrapInner(anchor);
                }
            });
        }

        $(document).ready(function() {
            // Attach detail table functionality to every td with
            // data-toggle="popover".
            $('*[data-toggle="popover"]').click(function() {
                var cell = $(this);
                $.post('/source_table', {
                    // Get the necessary data for the endpoint out of the
                    // table cell.
                    source_table: cell.data('source'),
                    entrezid: cell.data('entrezid'),
                    table_id: cell.data('table-id')
                }, function(data) {
                    // Inject the detail table
                    $("#test")[0].innerHTML = data;

                    // If we get an empty table, we don't want to accidentally
                    // hyperlink the cell that pandas provides to tell us the
                    // table is empty.
                    var detailSource = cell.data('source');
                    if (cell.text() != "No data availale in table") {
                        if (detailSource == "omni_eqtls") {
                            columnLinkout(8, SNPLinkout);
                        }
                        else if (detailSource == "omni_pubmed_nlp") {
                            columnLinkout(1, pubMedLinkout);
                        }
                        else if (detailSource == "omni_gwasdb_skin") {
                            columnLinkout(4, SNPLinkout);
                            var pubmedDbGapLinkout = multiIDLinkout(pubmedDbGapLinkoutList);
                            columnLinkout(5, pubmedDbGapLinkout);
                        }
                        else if (detailSource == "drug_targets") {
                            var targetLinkout = multiIDLinkout(targetLinkoutList);
                            columnLinkout(1, targetLinkout);
                        }
                        // To add a linkout to a column in a detail table,
                        // you need a linkout function. Then, just add code
                        // like the following below:
                        //
                        // else if (detailSource == "omni_detail_table") {
                        //     columnLinkout(columnNumber, linkoutFunction);
                        // }
                        //
                        // It should be noted that the detail table name you use
                        // is given from the data-source attributes on the correpsonding
                        // td entry above.
                    }

                    // Turn the detail table into a DataTable and make it pretty.
                    $(".dataframe").DataTable();
                    $(".dataframe").addClass("table");
                    $(".dataframe").removeAttr("border");
                });
            });

            // Because of the NULL entries, we can't use an out of the box numeric
            // sort. We instead add our own sort function, so we define it ascending
            // and descending. They both do essentially the same thing: they check
            // if either entry is the null string and if it is, returning that it goes
            // last, regardless of what sort order is asked for. If neither input is
            // the null string, it just sorts normally in the appropriate direction.
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                // For possibly empty strings
                "non-empty-string-asc": function (n1, n2) {
                    if(n1 == "")
                        return 1;
                    if(n2 == "")
                        return -1;
                    return ((n1 < n2) ? -1 : ((n1 > n2) ? 1 : 0));
                },
                "non-empty-string-desc": function (n1, n2) {
                    if(n1 == "")
                        return 1;
                    if(n2 == "")
                        return -1;
                    return ((n1 < n2) ? 1 : ((n1 > n2) ? -1 : 0));
                },
                // For possibly empty strings that are actually numbers
                "non-empty-string-num-asc": function (n1, n2) {
                    n1 = parseFloat(n1);
                    n2 = parseFloat(n2);
                    if(isNaN(n1))
                        return 1;
                    if(isNaN(n2))
                        return -1;
                    return ((n1 < n2) ? -1 : ((n1 > n2) ? 1 : 0));
                },
                "non-empty-string-num-desc": function (n1, n2) {
                    n1 = parseFloat(n1);
                    n2 = parseFloat(n2);
                    if(isNaN(n1))
                        return 1;
                    if(isNaN(n2))
                        return -1;
                    return ((n1 < n2) ? 1 : ((n1 > n2) ? -1 : 0));
                }
            });

            // To take care of the max/min filter, we check which column the user
            // has specified from the dropdown. Then, we compare data in that
            // column against the specified max and min values. If the
            // max or min is not set, we ignore it.
            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                    if ( settings.sTableId != "gene-data")
                        return true;

                    var col = parseInt($('#column').val());
                    if (col === 1)  // Column selector is set to None
                        return true;

                    var val = parseFloat(data[col]);
                    if (val == "")
                        return false;

                    var min = parseFloat( $('#min').val() );
                    var max = parseFloat( $('#max').val() );

                    var val = parseFloat( data[col] );

                    if ((isNaN(min) && isNaN(max)) ||
                        (isNaN(min) && val <= max) ||
                        (min <= val && isNaN(max)) ||
                        (min <= val && val <= max)) {
                        return true;
                    }
                    return false;
                }
            );

            // The search needs to only apply to the first two columns
            // (entrezid and genesymbol). This would be easy with DataTable's
            // columns.sort API, but that uses an AND filter (requires matches)
            // in both columns. As such, we define our own custom search function,
            // which first checks to see if we are looking at the main table
            // (we don't want to sort on the detail table). After that, we use
            // the ~ operator (which calculates -(n+1)) in tandem with indexOf
            // and toLowerCase to perform a makeshift case-insensitive contains
            // check with OR combination.
            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                    if (settings.sTableId != "gene-data")
            			return true;

         		    var searchTerm = $('#genesearch').val().toLowerCase();

    	            //search only in column 1 and 2
        		    if (~data[0].toLowerCase().indexOf(searchTerm))
                        return true;
        		    if (~data[1].toLowerCase().indexOf(searchTerm))
                        return true;

                    return false;
                }
            );

            // Make the main table a DataTable.
            var geneTable = $("#gene-data").DataTable({
                "columnDefs": [
                        // Apply the custom string sort to genesymbol
                        {type: "non-empty-string", targets: [1] },

                        // Apply the custom sort function to all columns.
                        // DataTables will prioritize the above columnDef,
                        // so this statement won't affect genesymbol.
                        {type: "non-empty-string-num", targets: "_all"},

                        // This doesn't work, but I'm leaving it here as
                        // a protest. See below where we just jQuery to
                        // force this column to comply.
                        {width: "100px", targets: "genesymbol"}
                ],
                // Don't worry about this: it's default setting except
                // without the default search field because we made our
                // own.
                "dom": "lrtip",

                // We apply the default sort to fisher_score but because
                // there is an extra column when indication is PSO (coexp),
                // we need an if here to sort the correct column.
                {% if indication == "PSO" %}
                "order": [[11, "asc"]]
                {% else %}
                "order": [[10, "asc"]]
                {% endif %}
            });

            // jQuery forces the column width uppon the genesymbol column,
            // which for some reason decided that it should be like 10 times
            // wider than it needs to be.
            $('[data-column-id="genesymbol"]').css("width", "100px");

            // We attach table redraws to the appropriate change handlers
            // in our custom searching/filtering controls.
    	    $('#genesearch').keyup(function() {
        		geneTable.draw();
    	    });

            $('#min, #max').keyup(function() {
                geneTable.draw();
            });

            $('#column').change(function() {
                geneTable.draw();
            });
        });
    </script>
{% endblock scripts %}
